.html {
  font-size: 50px;
}
.header {
  width: 10rem;
  height: 10rem;
  background-color: #cccccc;
}
.header a {
  display: block;
  width: 2rem;
  height: 1rem;
  background-color: #3e3;
}
.header a:hover {
  content: '';
  width: 2rem;
  height: 1rem;
  background-color: red;
}
