/* 5-13 新初始化样式 */


/* 移动端多是webkit内核，没有兼容性问题，所以直接用css3的属性和html5标签 */

/* 以下复制自阿里云css初始化 */

HTML,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
blockquote,
pre,
form,
fieldset,
table,
th,
td {


    border: none;
    font-family: "Microsoft YaHei", "Heiti SC", "\5B8B\4F53";
    font-size: 14px;
    margin: 0px;
    padding: 0px;
}

html,
body {
    -webkit-font-smoothing: antialiased;

    height: 100%;
    width: 100% ;
    box-sizing: border-box;

}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-style: normal;
    font-weight: normal;
}

a {
    text-decoration: none;
}

a:link {
    color: #fff;
}

a:visited {
    color: #fff;
}

a:hover {
    color: #fff;
}

a:active {
    color: #fff;
}

input::-ms-clear {
    display: none;
}

input::-ms-reveal {
    display: none;
}

input {
    -webkit-appearance: none;
    margin: 0;
    outline: none;
    padding: 0;
}

input::-webkit-input-placeholder {
    color: #ccc;
}

input::-ms-input-placeholder {
    color: #ccc;
}

input::-moz-placeholder {
    color: #ccc;
}

input[type=submit],
input[type=button] {
    cursor: pointer;
}

button[disabled],
input[disabled] {
    cursor: default;
}

img {
    border: none;
    vertical-align: top;

}

ul,
ol,
li {
    list-style-type: none;
}

/*公共方法*/

.cursor {
    cursor: pointer;
}

/*背景及色值表*/
.bg000 {
    background: #000;
}

.color000 {
    color: #000;
}


/* clear float */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}