<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Document</title>
    <style type="text/css">
      .grid {
        margin: auto;
        width: 530px;
        text-align: center;
      }
      .grid table {
        border-top: 1px solid #c2d89a;
        width: 100%;
        border-collapse: collapse;
      }
      .grid th,
      td {
        padding: 10;
        border: 1px dashed #f3dcab;
        height: 35px;
        line-height: 35px;
      }
      .grid th {
        background-color: #f3dcab;
      }
      .grid .book {
        padding-bottom: 10px;
        padding-top: 5px;
        background-color: #f3dcab;
      }
      .grid .total {
        height: 30px;
        line-height: 30px;
        background-color: #f3dcab;
        border-top: 1px solid #c2d89a;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <div class="grid">
        <!-- 添加图书 -->
        <div>
          <h1>图书管理</h1>
          <div class="book">
            <div>
              <label for="id"> 编号： </label>
              <input type="text" id="id" v-model="id" disabled="false" />
              <label for="name"> 名称： </label>
              <input type="text" id="name" v-model="name" @keyup.enter="handle" />
              <button @click="handle" :disabled="submitFlag">提交</button>
            </div>
          </div>
        </div>
        <!-- 图书总数 -->

        <div class="total">
          <span>图书总数：</span>
          <span>{{total}}</span>
        </div>
        <!-- 图书列表 -->
        <table>
          <thead>
            <tr>
              <th>编号</th>
              <th>名称</th>
              <th>时间</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in books" :key="item.id">
              <td>{{item.id}}</td>
              <td>{{item.name}}</td>
              <td>{{item.date|format('yyyy-MM-dd hh:mm:ss')}}</td>
              <td>
                <a href="" @click.prevent="editBook(item.id)">修改</a>
                <span>|</span>
                <a href="" @click.prevent="deleteBook(item.id)">删除</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <script type="text/javascript" src="js/vue.js"></script>
    <script type="text/javascript" src="js/axios.js"></script>
    <script type="text/javascript">
      // 设置api基准路径
      axios.default.baseURL = 'http://localhost:3000/'
      // 响应拦截器，直接返回res里的data
      axios.interceptors.response.use(
        res => res.data,
        err => console.log(err)
      )
      // 自定义指令 获取焦点
      Vue.directive('focus', function (el) {
        el.focus()
      })
      Vue.filter('format', function (value, arg) {
        function dateFormat(date, format) {
          if (typeof date === 'string') {
            var mts = date.match(/(\/Date\((\d+)\)\/)/)
            if (mts && mts.length >= 3) {
              date = parseInt(mts[2])
            }
          }
          date = new Date(date)
          if (!date || date.toUTCString() == 'Invalid Date') {
            return ''
          }
          var map = {
            M: date.getMonth() + 1, //月份
            d: date.getDate(), //日
            h: date.getHours(), //小时
            m: date.getMinutes(), //分
            s: date.getSeconds(), //秒
            q: Math.floor((date.getMonth() + 3) / 3), //季度
            S: date.getMilliseconds(), //毫秒
          }
          format = format.replace(/([yMdhmsqS])+/g, function (all, t) {
            var v = map[t]
            if (v !== undefined) {
              if (all.length > 1) {
                v = '0' + v
                v = v.substr(v.length - 2)
              }
              return v
            } else if (t === 'y') {
              return (date.getFullYear() + '').substr(4 - all.length)
            }
            return all
          })
          return format
        }
        return dateFormat(value, arg)
      })
      var vm = new Vue({
        el: '#app',
        data: {
          id: '',
          name: '',
          flag: false,
          submitFlag: false,
          books: [],
        },
        methods: {
          async handle() {
            // flag为true说明不是添加操作,也就是编辑操作
            if (this.flag) {
              // 需要把name作为参数传递过去
              var ret = await axios.put('books/' + this.id, {
                name: this.name,
              })
              // 提交成功则重新获取数据
              if (ret.status == 200) {
                this.queryData()
              }
              this.flag = false
            } else {
              // 添加图书
              // 通过api添加
              var ret = await axios.post('books', {
                name: this.name,
              })
              // 判断是否正确响应
              if (ret.status == 200) {
                // 添加成功，重新获取图书列表
                this.queryData()
              }
            }
            this.id = ''
            this.name = ''
          },
          async editBook(id) {
            // flag用于区分编辑和添加操作
            this.flag = true
            // 根据id查询图书item
            var ret = await axios.get('books/' + id)
            this.id = ret.id
            this.name = ret.name
          },
          async deleteBook(id) {
            var ret = await axios.delete('books/' + id)
            if (ret.status == 200) {
              this.queryData()
            }
          },
          // 获取图书列表数据 利用async await简化代码
          async queryData() {
            this.books = await axios.get('books')
          },
        },
        mounted: function () {
          // 挂载后通过立即获取图书列表的数据
          this.queryData()
        },
        computed: {
          total: function () {
            // 计算图书的总数
            return this.books.length
          },
        },
        watch: {
          async name(val) {
            // var flag = this.books.some(item => item.name == val)
            var ret = await axios.get('books/book/' + this.name)
            if (ret.status === 1) {
              this.submitFlag = true
            } else {
              this.submitFlag = false
            }
          },
        },
      })
    </script>
  </body>
</html>
