/* 5-13-1   创建 */
/* 移动端初始化单独样式 */

/* 清除点击高亮 */
* {
    -webkit-tap-highlight-color: transparent;
}

/* 移动端浏览器默认的按钮和输入框样式需要加上这个属性才能自定义 */
input {
    -webkit-appearance: none;

}
/* 禁用长按弹出菜单 */
img,a {
    -webkit-touch-callout:none;
}

body {
    margin: 0 auto;
    width: 100%;
    /* 设置最小最大宽度 */
    min-width: 320px;
    max-width: 640px;
    background: #fff;
    font-size: 1rem;
    font-family: -apple-system, Helvetica, sans-serif;
    line-height: 1.5;
    color: #666;
}

a {
    text-decoration: none;
    color: #666;
}

li {
    list-style: none;
}

/* 去除图片底部缝隙 */
img {
    vertical-align: middle;
}