@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?uyigem');
    src:  url('../fonts/icomoon.eot?uyigem#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?uyigem') format('truetype'),
      url('../fonts/icomoon.woff?uyigem') format('woff'),
      url('../fonts/icomoon.svg?uyigem#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }