/* css初始化 */

* {
  margin: 0;
  padding: 0;
  font-family: "Microsoft Yahei";
}

p {
  font-size: 16px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 16px;
  color: #000;
}

a:hover {
  color: #00a4ff;
}

/* 清除浮动 */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}
