/* 左边固定定位窗口 */


.boxfixed {
    position: fixed;
    top: 300px;
    right: 50%;
    margin-right: 615px;
    width: 183px;
    height: 425px;
    background: #fff;
    padding: 15px 0;
}

.boxfixed ul li a {
    display: block;
    padding: 0 23px;
    height: 38px;
    font-style: 14px;
    line-height: 38px;
}

/* mainbd的右上角hot和new小图标 */
/* 子绝父相 用不脱标的相对定位约束会脱标的绝对定位 */
.mainbd ul li {
    position: relative;
}

.mainbd ul li em img {
    position: absolute;
    top: 4px;
    right: -4px;

}